.navbar{
    background: rgba(0,0,0,0.7);
    border-bottom:2px solid blue;
}
#home-section{
    background: url(./home.jpg)no-repeat;
    background-size: cover;
   color: white;
   background-attachment: fixed;
    
}
#home-section .overly{
    background: rgba(0,0,0,0.7);
}
#home-section h1{
margin-top: 150px;
}
.fa{
border-radius: 5px;
font-size: 30px;
}


 @media (min-width:992px){
    #home-section .overly{
        padding-bottom: 100px;  
    }  
    .card{
        margin-top:150px ;
    } 
 }
 @media (max-width:991px){
    #home-section .overly{
        padding-bottom: 50px;  
    }  
    .card{
        margin-top:50px ;
    } 
 }
 .footer{
  color: rgb(238, 180, 22);
 }